<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COAD</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <%- include('nav.html') %> 
    <div class="container">
      <h3>history 화면입니다. </h3>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-11-15</div>
              <div> 임시 파일 라인으로 발송 확인</div>
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
          <span class="badge bg-primary rounded-pill bg-gradient">TEST</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-11-15</div>
              <div> html2canvas를 이용하여 table을 이미지로 만들기 됨</div>
              <div> 조회후에도 이미지 변환 되는것 확인</div>
              <div> 배경이미지 white로</div>
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-11-08</div>
              <div> tab bootstrap으로 꾸미기(복사 붙여넣기) - list 이용 (간단하게)</div>
              <div> 삭제 버튼 추가,리스트 표도 추가, 표에도 수정, 삭제 버튼 추가</div>
              <div> 검색바 ejs 파일로 분리</div>
          </div>
          <span class="badge bg-primary rounded-pill bg-secondary">편의성증가</span>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-11-07</div>
              <div>전체 검색 추가</div>
              <div>job_state 한글로 변경(알아보기 쉽게)</div>
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-10-26</div>
              <div>조회에서 edit 기능 추가 button,form,get 으로 coding (찾기 이후에는 안되어서 노력중)</div>
              <div>edit화면에서 글번호 수정 안되게 변경 readonly 추가</div>
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-10-25</div>
            검색시 빈칸이었을때 체크해서 list 다시 보여주기 추가
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>


        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">2022-10-24</div>
            검색시 한글 완성형 검색외 단위로 검색되게 수정 몽고db search에서 index 추가/history tag 추가
          </div>
          <span class="badge bg-primary rounded-pill bg-info">기능추가</span>
        </li>



      </ol>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

