<div class="container input-group mb-2">
    <div>
        <input class="form-control m-2" id="search-input">
        
        <label for="" >진행사항</label>
        <select id="job_state" name="job_state">
            <option value="전체" selected="selected">전체</option>
            <option value="진행중">진행중</option>
            <option value="완료">완료</option>
            <option value="미진행" >미진행</option>
            <option value="보류">보류</option>
        </select>
        <input type="date" name="startday">
        <input type="date" name="endday">
        <button class="input-group-append btn btn-danger m-2" id="search">검색</button>
    </div>
</div>
